@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-white font-inter;
}
/* ===== Custom scrollbar style for DevHub ===== */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
